---
layout: default
---

<div class="sidebar">
  <ul>
    <li><a href="#deconstructing-free-to-play">Top</a></li>
    <li><a href="#explaining-customer-behavior-in-relation-to-free-to-play">Customer Behavior</a></li>
    <li><a href="#the-effects-of-real-money-transfer-in-games">Real Money Transfer</a></li>
    <li><a href="#virtual-items">Virtual Items</a></li>
    <li><a href="#the-value-of-virtual-goods">Value of Virtual Goods</a></li>
    <li><a href="#game-mechanics-that-sell-virtual-goods">Selling Virtual Goods</a></li>
    <li><a href="#game-mechanics-and-their-role-in-motivating-purchases">Motivating Purchases</a></li>
    <li><a href="#additional-reading">Additional Reading</a></li>
  </ul>
</div>

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>{{ post.title }}</a>
        </h2>
        {% if post.content %}
          <p class="post-content">{{ post.content }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
